{{#if user}}
Bienvenid@ {{user.first_name}} {{user.last_name}}! Email: {{user.email}}, Edad: {{user.age}}, Rol: {{user.role}}.
<br>
<a href="./logout">Logout</a>
{{/if}}

<div id="user-email" style="display:none;">{{#if user}}{{user.email}}{{/if}}</div>

<center>
    <h1>Real Time Products</h1>
</center>
<section style="display:flex;justify-content:space-evenly">
    <div>
        <h2>Add New Product:</h2>
        <form>
            <label for="title">Title:</label><br>
            <input type="text" id="title"><br>
            <label for="description">Description:</label><br>
            <input type="text" id="description"><br>
            <label for="code">Code:</label><br>
            <input type="number" id="code"><br>
            <label for="price">Price:</label><br>
            <input type="number" id="price"><br>
            <label for="stock">Stock:</label><br>
            <input type="number" id="stock"><br>
            <label for="category">Category:</label><br>
            <input type="text" id="category"><br><br>
            <button id="btnNuevoProd">Add</button>
        </form>
    </div>
    <div>
        <h2>Products:</h2>
        <div>
            {{#if hayProductos}}
            <ul id="productsList">
                {{#each products.docs}}
                <li>
                    {{this.title}}: ${{this.price}}, stock: {{this.stock}}
                    <button id="{{this._id}}" class="btnDeleteProd">Delete</button>
                </li>
                {{/each}}
            </ul>
            {{!-- pagination --}}
            Total pages: {{totalPages}} <br>
            Current page: {{page}} <br>
            {{#if products.hasPrevPage}}
            <a href="{{prevLink}}">Prev Page</a>
            {{/if}}
            {{#if products.hasNextPage}}
            <a href="{{nextLink}}">Next Page</a>
            {{/if}}
            {{else}}
            <p>No hay productos disponibles</p>
            {{/if}}
        </div>
    </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io()

    //add
    document.querySelector('#btnNuevoProd')?.addEventListener('click', ev => {
        const prod = {
            title: document.querySelector('#title').value,
            description: document.querySelector('#description').value,
            code: document.querySelector('#code').value,
            price: document.querySelector('#price').value,
            stock: document.querySelector('#stock').value,
            category: document.querySelector('#category').value,
            owner: document.querySelector('#user-email').innerText.trim() === 'adminCoder@coder.com' ? 'admin' : document.querySelector('#user-email').innerText.trim()
        }
        socket.emit('nuevoProducto', prod)
    })

    //delete
    function activateDeleteButtons() {
        const deleteButtons = document.querySelectorAll('.btnDeleteProd');
        for (let i = 0; i < deleteButtons.length; i++) {
        deleteButtons[i]?.addEventListener('click', ev => {
            const id = event.target.id;
            // Get the current page parameter from the URL
            const urlParams = new URLSearchParams(window.location.search);
            const page = urlParams.get('page');
            socket.emit('deleteProduct', { id, page });
        });
        }
    }
    activateDeleteButtons();

    //refresh
    socket.on('actualizar', products => {
    const productsList = document.getElementById('productsList');
    productsList.innerHTML = '';

    products.docs.forEach(product => {
      const listItem = document.createElement('li');
      listItem.textContent = `${product.title}: $${product.price}, stock: ${product.stock}`;

      const deleteProductButton = document.createElement('button');
      deleteProductButton.setAttribute('id', product._id);
      deleteProductButton.setAttribute('class', 'btnDeleteProd');
      deleteProductButton.textContent = 'Delete';
      deleteProductButton.addEventListener('click', () => {
        socket.emit('deleteProduct', product._id);
      });

      listItem.appendChild(deleteProductButton);

      productsList.appendChild(listItem);
    });
  });
</script>