{{#if user}}
Bienvenid@ {{user.first_name}} {{user.last_name}}! Email: {{user.email}}, Edad: {{user.age}}, Rol: {{user.role}}.
<br>
<a href="./logout">Logout</a>
{{/if}}

<div id="user-email" style="display:none;">{{#if user}}{{user.email}}{{/if}}</div>

<center>
    <h1>Real Time Products</h1>
</center>
<section style="display:flex;justify-content:space-evenly">
    <div>
        <h2>Add New Product:</h2>
        <form>
            <label for="title">Title:</label><br>
            <input type="text" id="title"><br>
            <label for="description">Description:</label><br>
            <input type="text" id="description"><br>
            <label for="code">Code:</label><br>
            <input type="number" id="code"><br>
            <label for="price">Price:</label><br>
            <input type="number" id="price"><br>
            <label for="stock">Stock:</label><br>
            <input type="number" id="stock"><br>
            <label for="category">Category:</label><br>
            <input type="text" id="category"><br><br>
            <button id="btnNuevoProd">Add</button>
        </form>
    </div>
    <div>
        <h2>Products:</h2>
        <div>
            {{#if hayProductos}}
            <ul id="productsList">
                {{#each products.docs}}
                <li>
                    {{this.title}}: ${{this.price}}, stock: {{this.stock}}
                    <button id="{{this._id}}" class="btnDeleteProd">Delete</button>
                </li>
                {{/each}}
            </ul>
            {{!-- pagination --}}
            Total pages: {{totalPages}} <br>
            Current page: {{page}} <br>
            {{#if products.hasPrevPage}}
            <a href="{{prevLink}}">Prev Page</a>
            {{/if}}
            {{#if products.hasNextPage}}
            <a href="{{nextLink}}">Next Page</a>
            {{/if}}
            {{else}}
            <p>No hay productos disponibles</p>
            {{/if}}
        </div>
    </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io()

    //add
    document.querySelector('#btnNuevoProd')?.addEventListener('click', ev => {
        const prod = {
            title: document.querySelector('#title').value,
            description: document.querySelector('#description').value,
            code: document.querySelector('#code').value,
            price: document.querySelector('#price').value,
            stock: document.querySelector('#stock').value,
            category: document.querySelector('#category').value,
            owner: document.querySelector('#user-email').innerText
        }
        socket.emit('nuevoProducto', prod)
    })

    //delete
    function activateDeleteButtons() {
        deleteButtons = document.querySelectorAll('.btnDeleteProd');
        for (var i = 0; i < deleteButtons.length; i++) {
            deleteButtons[i]?.addEventListener('click', ev => {
                console.log(event.target.id);
                const id = event.target.id
                socket.emit('deleteProduct', id)
            });
        }
    }
    activateDeleteButtons();

    //refresh
    socket.on('actualizar', products => {
        document.getElementById("productsList").innerHTML = "";
        let text = "";
        for (let i = 0; i < products.length; i++) {
            text = products[i].title + ": $" + products[i].price + ", stock: " + products[i].stock;
            let listItem = document.createElement("LI");
            listItem.textContent = text;
            listItem.innerHTML += " <button id='" + products[i].id + "' class='btnDeleteProd'>Delete</button>"
            document.getElementById("productsList").appendChild(listItem);
        }
        activateDeleteButtons();
    })
</script>