<h1>Users</h1>
<ul id="usersTemplate">
    {{#each users.docs }}
        <li>
            Name: {{this._doc.first_name}}, {{this._doc.last_name}} -  Role: {{this._doc.role}}
            <button class="btnSwitchRole" onclick="switchRole('{{this._doc._id}}')">Switch Role</button>
            <button id="{{this._doc._id}}" class="btnDeleteUser">Delete User</button>
        </li>
    {{/each}}
</ul>
<script src="/socket.io/socket.io.js"></script>
<script>
        const socket = io();

        // Switch Role
        function switchRole(userId) {
            fetch(`/api/users/premium/${userId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } 
                else {
                    alert('Some required documents have not been uploaded.')
                }
            })
            .catch(error => {
                throw new Error('Error switching role:', response.statusText);
            });
        }

        //delete
        function activateDeleteButtons() {
            deleteButtons = document.querySelectorAll('.btnDeleteUser');
            for (var i = 0; i < deleteButtons.length; i++) {
                deleteButtons[i]?.addEventListener('click', ev => {
                    console.log(event.target.id);
                    const id = event.target.id
                    socket.emit('deleteUser', id)
                });
            }
        }
        activateDeleteButtons();

        //refresh
        socket.on('actualizar', users => {
            document.getElementById("usersTemplate").innerHTML = "";
            let text = "";
            console.log(users)
            users = users.docs
            for (let i = 0; i < users.length; i++) {
                text = "Name: " + users[i].first_name + ", " + users[i].last_name + " - Role: " + users[i].role;
                let listItem = document.createElement("LI");
                listItem.textContent = text;
                listItem.innerHTML += " <button class='btnSwitchRole' onclick='switchRole(" + users[i]._id + ")'>Switch Role</button> <button id='" + users[i]._id + "' class='btnDeleteProd'>Delete User</button>"
                document.getElementById("usersTemplate").appendChild(listItem);
            }
            activateDeleteButtons();
        })

</script>
